#field-elementree-labels-values .paragraphs-collapsed-description:after {
  background: transparent;
}
.field--name-field-elementree-labels .paragraphs-subform {
  display: flex;
}
.field--name-field-elementree-labels .paragraphs-subform div {
  margin: 0 3px;
}
